@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: 20px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #6563ff;
}
.cards,
.card,
.view,
.details,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  padding: 25px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  width: 90%;
  margin-top: 30px;
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(auto-fit, minmax(103px, 1fr));
}
.card {
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 90px;
  height: 90px;
}
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    width: 75%;
  }
  .card {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 1900px) and (max-width: 2000px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
  .card {
    width: 125px;
    height: 125px;
  }
}
@media screen and (min-width: 2001px) and (max-width: 2500px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
  .card {
    width: 130px;
    height: 130px;
  }
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}
.cards .card .view {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}
.card .front-view img {
  max-width: 17px;
}
.card .back-view {
  transform: rotateY(-180deg);
}
.card .back-view img {
  max-width: 40px;
}
.card.flip .front-view {
  transform: rotateY(180deg);
}
.card.flip .back-view {
  transform: rotateY(0);
}
.details {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
  border-radius: 7px;
  background: #fff;
  height: 60px;
  width: 600px;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.details p {
  font-size: 18px;
  height: 17px;
  padding-right: 18px;
  border-right: 1px solid #ccc;
}
.details p span {
  margin-left: 8px;
}
.details p b {
  font-weight: 500;
}
.details button {
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  border-radius: 4px;
  padding: 4px 11px;
  background: #fff;
  border: 2px solid #6563ff;
  transition: 0.3s ease;
}
.details button:hover {
  color: #fff;
  background: #6563ff;
}

dialog {
  z-index: 10;
  margin-top: 10px;
  background: #413eec;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: #ffffff6b 0px 5px 10px 7px;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
.welcomeDialog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 20px;
}
.submitDialog {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  background: #0d0c67;
  color: #fff;
  transition: 0.3s ease;
  border: 3px solid #3a425d;
  transition: 0.3s ease;
  border-color: white;
}
.submitDialog:hover {
  background: rgba(255, 255, 255, 0.351);
  border-color: #0d0c67;
  padding: 10px 20px;
}
.inputDialog {
  font-size: inherit;
  padding: 12px;
}

input[type="text"],
input[type="number"] {
  text-align: center;
  font-size: 20px;
  border-radius: 50px;
}

.footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}
.mistakes {
  color: red;
  font-weight: bold;
}
.matched {
  color: rgb(27, 205, 27);
  font-weight: bold;
}
